.form-outer {
    width: 275px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -150px;
    margin-top: -150px;
    .form-inner {
        position: relative;
        background-color: white;
        border-radius: 3px;
        input {
            margin: 16px;
            width: 88%;
            height: 40px;
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: none;
            border-bottom: solid 2px #00796B;
            outline: none;
        }
        .form-title-box {
            height: 100px;
            background: #00796B;
            text-align: center;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            .title {
                font-size: 36px;
                padding: 28px;
                margin: 0;
            }
        }
        .btn-box {
            height: 50px;
            margin-top: 15px;
            .form-btn {
                position: relative;
                float: left;
                text-align: center;
                height: auto;
                font-size: 20px;
                border: none;
                cursor: pointer;
                &:hover {
                   background-color: #00796b;
                }
                &.large {
                   width: 60%;
                }
                &.small {
                   width: 40%;
                }
                .text {
                    font-size: 1.2em;
                    margin: 0;
                    padding: 11px;
                }
            }
        }
    }
}
.test-form {
    .test-btn {
        width: auto;
        padding: 22px;
        border: 1px solid;
        float: left;
        cursor: pointer;
    }
}
