/* line 5, ../../../styles/global/notification.scss */
.notification-list {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* line 12, ../../../styles/global/notification.scss */
.notification-list .notification {
  margin-top: 2px;
  height: 50px;
  position: relative;
  -webkit-transition: height 450ms ease-in-out;
  transition: height 450ms ease-in-out;
  overflow: hidden;
}
/* line 18, ../../../styles/global/notification.scss */
.notification-list .notification.fade {
  height: 0px;
  -webkit-transition: height 450ms ease-in-out;
  transition: height 450ms ease-in-out;
}
/* line 22, ../../../styles/global/notification.scss */
.notification-list .notification.error {
  background-color: rgba(238, 83, 80, 0.9);
}
/* line 25, ../../../styles/global/notification.scss */
.notification-list .notification.success {
  background-color: rgba(102, 187, 106, 0.9);
}
/* line 28, ../../../styles/global/notification.scss */
.notification-list .notification .message {
  margin: 0;
  padding: 14px;
  text-align: center;
}
